<html>

<head>

    <title>
        {% block title %} {% endblock %}
    </title>

</head>

<body>
    <h1 style="background-color: rgb(105, 143, 48); color:white; text-align:center">Ferreteria 4 Hermanos</h1>
    {% include "superior/barra.html" %} {# plantilla de barra de la carpeta plantilla/superior #}
    <h1 style=" text-align: center;">Herramientas y mas</h1>
    {% block content %} {% endblock %}
    <p style="background-color: rgb(105, 143, 48); color:white; text-align:right">Gracias por su visita</p>
</body>

</html>