<html>

<body>
    {% include "superior/barra.html" %} {# plantilla de barra de la carpeta plantilla/superior #}
    <h2 style="color: blue">
        Hola Nde - Mi Plantilla
    </h2>

    {%comment %} No temas Diseñador!
    Ignora esta parte
    {% endcomment %}

    {% if nombre_persona == ' Profesor Rody'%}
    <p style="color:rgb(25, 170, 49)">El curso lo imparte el profesor titular</p>
    {% else %}
    <p style="color: blueviolet">El curso lo imparte el profesor Suplente</p>
    {% endif %}

    <p>El nombre es : {{nombre_persona.upper}} {{apellido_persona.upper}}</p>
    {# Lower es en miuscula / upper es mayuscula #}
    <p>Estamos viendo el tema de las Plantillas a d&iacute;a:
        {{momento_actual.day}} / {{momento_actual.month}} / {{momento_actual.year}}</p>
    <p><strong>Temas del curso:</strong></p>
    <p>
        <ul>
            {% if temas %}
            {% for elTema in temas %}
            <li>{{elTema}}</li> {# firts es para seleccionar solo la primera letra de una palabra#}
            {% endfor %}
            {% else %}
            <p>No hay elementos que mostrar</p>
            {%endif %}
        </ul>
    </p>
</body>

</html>